[submodule "ghostty"]
	path = ghostty
	url = https://github.com/mochiexists/ghostty.git
	branch = main
[submodule "homebrew-cmux"]
	path = homebrew-cmux
	url = https://github.com/mochiexists/homebrew-cmux.git
[submodule "vendor/bonsplit"]
	path = vendor/bonsplit
	url = https://github.com/mochiexists/bonsplit.git
	branch = mochi/on-v0.64.20-tab-context
