[submodule "ghostty"]
	path = ghostty
	url = https://github.com/mochiexists/ghostty.git
	branch = main
[submodule "vendor/bonsplit"]
	path = vendor/bonsplit
	url = https://github.com/mochiexists/bonsplit.git
